.tasks__Wrapper {
    margin-top: 4rem;
}

.tasks__Wrapper header{
    display: flex;
    justify-content: space-between;

    margin-bottom: 1.5rem;
}

.tasks__Wrapper header > div {
    display: flex;
    align-items: center;

    gap: .5rem;

    font-weight: 700;
    font-size: .875rem;
    line-height: 1.062rem;
}

.tasks__Wrapper header > div:nth-child(1) {
    color: var(--blue-300);
}

.tasks__Wrapper header > div:nth-child(2) {
    color: var(--purple-300);
}

.tasks__Wrapper header div span {
    background: var(--gray-400);
    color: var(--gray-200);
    padding: .125rem .5rem;
    border-radius: 16px;
}

.tasks__Container{

    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: .75rem;

    
}

.form__Wrapper form{
    display: flex;
    gap: .5rem;
}
.form_button,
.form_input{
    height: 3.3rem;
}
.form_input{
    width: 89%;
    background: var(--gray-500);
    color: var(--gray-300);
    border-radius: 7px;
    padding: 0 1rem;
    border: 2px solid var(--gray-700);
}
.form_input:focus {
    outline: 2px solid var(--purple-600);
    color: var(--white);
}

.form_button{
    width: 11%;
    color: var(--gray-100);
    background: var(--blue-600);
    border: none;
    border-radius: 7px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    font-size: .875rem;
    font-weight: bold;

    transition: .1s ease-in-out;
}

.form_button:hover{
    background-color: var(--blue-300);
}

.form_button:disabled{
    cursor:not-allowed;
    opacity: .8;
}